In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('customer.csv')

In [5]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

#.Ordinal Encoding

In [7]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,2:4], 
                                                    df.iloc[:,-1], test_size=0.2)

In [13]:
X_train

     review education
41     Good        PG
23     Good    School
1      Poor        UG
44  Average        UG
27     Poor        PG
6      Good    School
14     Poor        PG
17     Poor        UG
45     Poor        PG
24  Average        PG
31     Poor    School
43     Poor        PG
35     Poor    School
16     Poor        UG
46     Poor        PG
7      Poor    School
9      Good        UG
20  Average    School
21  Average        PG
29  Average        UG
25     Good    School
30  Average        UG
26     Poor        PG
8   Average        UG
39     Poor        PG
47     Good        PG
48     Good        UG
13  Average    School
36     Good        UG
2      Good        PG
49     Good        UG
19     Poor        PG
28     Poor    School
40     Good    School
18     Good    School
22     Poor        PG
5   Average    School
42     Good        PG
0   Average    School
12     Poor    School

In [14]:
# specify order
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],
                              ['School','UG','PG']])

In [15]:
X_train=oe.fit_transform(X_train)
X_test=oe.transform(X_test)

In [16]:
X_train

array([[2., 2.],
       [2., 0.],
       [0., 1.],
       [1., 1.],
       [0., 2.],
       [2., 0.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [1., 2.],
       [0., 0.],
       [0., 2.],
       [0., 0.],
       [0., 1.],
       [0., 2.],
       [0., 0.],
       [2., 1.],
       [1., 0.],
       [1., 2.],
       [1., 1.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [1., 0.],
       [2., 1.],
       [2., 2.],
       [2., 1.],
       [0., 2.],
       [0., 0.],
       [2., 0.],
       [2., 0.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [1., 0.],
       [0., 0.]])

In [17]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [18]:
oe.feature_names_in_

array(['review', 'education'], dtype=object)

In [19]:
oe.n_features_in_

2

In [20]:
oe.get_feature_names_out()

array(['review', 'education'], dtype=object)

In [21]:
oe.inverse_transform(np.array([0,2]).reshape(1,2))

array([['Poor', 'PG']], dtype=object)

In [22]:
# handle unknown
oe.transform(np.array(['Poor','college']).reshape(1,2))

c:\Users\sandeepkumar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

ValueError: Found unknown categories ['college'] in column 1 during transform

In [24]:
# set unknown values
oe=OrdinalEncoder(categories=[['Poor','Average','good'],
                              ['School','UG','PG']],
                              handle_unknown='use_encoded_value',
                              unknown_value=-1)

X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,2:4], 
                                                    df.iloc[:,-1], test_size=0.2)
X_train=oe.fit_transform(X_train)
oe.transform(np.array(['Poor','college']).reshape(1,2))

c:\Users\sandeepkumar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[ 0., -1.]])

In [25]:
# handling infrequent categories
X=np.array([['dog']*5 + ['cat']*20 + ['rabbit']*10 + ['snake']*3+['horse']*2],dtype=object).T
X

array([['dog'],
       ['dog'],
       ['dog'],
       ['dog'],
       ['dog'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['cat'],
       ['rabbit'],
       ['rabbit'],
       ['rabbit'],
       ['rabbit'],
       ['rabbit'],
       ['rabbit'],
       ['rabbit'],
       ['rabbit'],
       ['rabbit'],
       ['rabbit'],
       ['snake'],
       ['snake'],
       ['snake'],
       ['horse'],
       ['horse']], dtype=object)